h1 {
    font-family: "Outfit", sans-serif;
    font-size: 60px;
  }
  
  .tit1 {
    font-weight: 400;
  }
  main {
    text-align: center;
    padding-top: 6em;
  }
  .tit2 {
    margin-top: -1em;
  }
  footer {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 15em;
  }
ul, li{
    text-align: center;
}  